* {
  margin : 0;
  padding : 0;
}

.app {
  display : grid;
  place-items : center;
  background-color : #fafafa;
}

.app__header {
  width : 100vw;
  display : flex;
  align-items : center;
  justify-content : space-between;
  background-color : white;
   padding : 20px 0 20px 0;
    object-fit : contain;
    border-bottom : 1px solid lightgrey;
    position : sticky;
    top:0;
    z-index:1;
}
.app__loginContainer {
  margin-right : 20px;
}

.app__logout {
  margin-right : 20px;
}

.app__signup {
  display : flex;
  flex-direction : column;

}

.app__posts {
  padding : 20px;
  display : flex;
}

.app__postsRight {
  margin-left : 20px;
}